{% extends "base.html" %}

{% block title %}
  SGE - Fornecedores
{% endblock title %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-6">
            <form action="{% url 'supplier_list' %}" method="GET">
                <div class="input-group">
                    <input type="text" name="name" id="" placeholder="Nome" value="{{request.GET.name}}" class="form-control">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            {% if perms.suppliers.add_supplier %}
            <a href="{% url 'supplier_create' %}" class="btn btn-success float-end">
                <i class="bi bi-plus"></i>Novo Fornecedor
            </a>
            {% endif %}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr class="">
                    <td>{{supplier.id}}</td>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.description}}</td>
                    <td class="">
                        {% if perms.suppliers.view_supplier %}
                        <a href="{% url 'supplier_detail' supplier.id %}" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i>
                        </a>
                        {% endif %}
                        {% if perms.suppliers.change_supplier %}
                        <a href="{% url 'supplier_update' supplier.id %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        {% endif %}
                        {% if perms.suppliers.delete_supplier %}
                        <a href="{% url 'supplier_delete' supplier.id %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "components/_pagination.html" %}
{% endblock content %}