{% extends "base.html" %}

{% block title %}
  SGE - Produtos
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Deletar Produto</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza que deseja apagar o produto <strong>{{object.title}}</strong>?</p>
            <form method="POST" class="form">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Deletar Produto</button>
            </form>
            <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Produtos</a>
        </div>
    </div>
  </div>
{% endblock content %}