{% extends "base.html" %}

{% block title %}
  SGE - Entradas
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-6">Cadastrar Entrada</h3>

    <div class="card">
        <div class="card-body">
            <form action="{% url 'inflow_create' %}" method="POST" class="form">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Salvar Entrada</button>
            </form>
            <a href="{% url 'inflow_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Entradas</a>
        </div>
    </div>
  </div>
{% endblock content %}